/* تطبيق المتغيرات على الصفحة */

:root:has(.mode:checked) {
    --bg-color-primary: black !important;
    --bg-color-secondary: #252525 !important;
    --bg-color-tertiary: #171717 !important;
    --bg-color-quaternary: RGB(215, 140, 35) !important;
    --bg--color5: #202020 !important;
    --bg--color-contact-item: black !important;
    --text-color-quaternary: white !important;
    --text-color-primary: white !important;
    --text-color-secondary: RGB(193, 126, 31) !important;
    --text-color-tertiary: #9f9f9f !important;
    --text-color-pararaph: RGB(159, 159, 159) !important;
    --display-light: flex !important;
    --display-Dark: none !important;
}
body {
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
}
img{
    width: 100%;
    display: block;
}
/* القيم الافتراضية (Light Mode) */
/* :root {
    --bg-color-primary: white;
    --bg-color-secondary: #EEEEEE;
    --bg-color-tertiary: white;
    --bg-color-quaternary: RGB(230, 20, 20);
    --bg--color5:white;
    --bg--color-contact-item:RGB(245, 245, 245);
    --text-color-primary: black;
    --text-color-secondary: RGB(206, 18, 18);
    --text-color-tertiary: #9f9f9f;
    --text-color-quaternary: #37373F;
    --text-color-pararaph: RGB(79, 79, 90);
    --icon-color: #37373f66;
    --font-default: "Roboto", "Open Sans", system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --padding: 1.2rem 2.525rem;
    --margin-top: 0;
    --margin-bottom: 0;
    --display-light: none;
    --display-Dark: flex;
    --animation-duration: 400ms;
    --inline-gap: 0.9375rem;
    --padding-pararaph: 24px 0 24px 0;
    --gap: 0.9375rem;

} */

/* الأنماط الخاصة بالوضع المظلم (Dark Mode) */
/* [data-theme="dark"] {
    --bg-color-primary: black;
    --bg-color-secondary: #252525;
    --bg-color-tertiary: #171717;
    --bg-color-quaternary: RGB(215, 140, 35);
    --bg--color5:#202020;
    --bg--color-contact-item:black;
    --text-color-quaternary: white;
    --text-color-primary: white;
    --text-color-secondary: RGB(193, 126, 31);
    --text-color-tertiary: #9f9f9f;
    --text-color-pararaph:RGB(159, 159, 159);
    --display-light: flex;
    --display-Dark: none;
} */
/* #toggleTheme :checked ~ *{
    background-color: red !important;
    color: white !important; 
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-quaternary);
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 700;
}
p{
    color: var(--text-color-pararaph);
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: var(--padding-pararaph);
    font-size: 16px;
}
h2{
    font-family: var(--font-secondary);
    color: var(--text-color-tertiary);
    font-size: 14px;
    font-weight: 400;
}
section{
    padding: 50px 0;
    margin: 0;
}
.mode-group .light{
    display: var(--display-light) !important;
    transition:0.3s;
}
.mode-group .dark{
    display: var(--display-Dark) !important;
    transition:0.3s;
    
}
.navbar {
    background-color: var(--bg-color-tertiary);
    color: var(--text-color-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.container {
    margin-inline: auto;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    width: 100%;
    padding: var(--padding);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1140px;
}

.navbar .container .nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}

.nav-links li {
    list-style: none;
    padding: 0px 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-tertiary);
    font-size: 17px;
    font-weight: 600;
    /* transition: color 0.3s; */
    /* تأثير انتقال */
    font-family: var(--font-default);
}
.nav-links li a::before{
    content: "";
    display: flex;
    position: absolute;
    bottom: -9px;
    width: 0;
    height: 2px;
    background-color: var(--text-color-secondary);
    color: var(--text-color-secondary);
    transition: width var(--animation-duration);
    
}

body:has(#home:target) li a[href="#home"]::before,
body:has(#chefs:target) li a[href="#chefs"]::before,
body:has(#gallery:target) li a[href="#gallery"]::before,
body:has(#contact:target) li a[href="#contact"]::before{
    width: calc(100% - (var(--inline-gap) * 2));
}


body:has(#home:target) li a[href="#home"],
body:has(#chefs:target) li a[href="#chefs"],
body:has(#gallery:target) li a[href="#gallery"],
body:has(#contact:target) li a[href="#contact"]{
color:var(--text-color-primary);

}


.nav-links li a:hover::before {
    width: calc(100% - (var(--inline-gap) * 2));
    transition: width var(--animation-duration);
}
.nav-links li a:hover {
    color: var(--text-color-primary);
    transition: color var(--animation-duration);
    /* تأثير انتقال */
}
.navbar .logo {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 30px;
    font-family:"system-ui", sans-serif;
}

.navbar .logo::after {
    content: '.';
    display: inline;
    color: var(--text-color-secondary);
    transition: width 0.3s;
    /* تأثير انتقال */
}

.mode-group i {
    cursor: pointer;
    font-size: 25px;
    margin-right: 20px;
}

.fa-solid {
    font-weight: 900;
}
/* home section */
#home .container{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#home h2{
    font-size: 65px;
    font-family: var(--font-primary);
    color: var(--text-color-quaternary);
    font-weight: 700;
}
.btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    
}
.btn-group a{
    text-decoration: none;
}
.btn-group .icon i{
    font-size: 16px;
    font-weight: 900;
    color: var(--text-color-primary);

    background-color: transparent;
    transition: color 0.3s;
    /* تأثير انتقال */
    transform: rotate(-45deg);
}
.btn-group .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--bg-color-secondary) var(--bg-color-secondary) var(--text-color-secondary) var(--text-color-secondary);
    border-width: 7px;
    border-style: solid;
    background-color: var(--bg-color-primary);
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: 7px;
}
.video-btn:hover .icon i,.video-btn:hover{
    color: var(--text-color-secondary) !important ;
    transition: color 0.3s;
    /* تأثير انتقال */
}

.btn-group a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group .video-btn{
    color: var(--text-color-primary);
}
.btn-group .btn-main{
    color: var(--bg-color-primary);
    background-color: var(--text-color-secondary);
    padding: 15px 25px;
    border-radius: 0px 100vh 100vh 100vh; 
    font-weight: 300;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
}
.btn-group .btn-main:hover{
    background-color: var(--bg-color-quaternary) !important;
    transition: background-color 0.3s;
    /* تأثير انتقال */
}
.header-content{
    width: 40%;
}
.header-image{
    width: 40%;
}
.header-image {
    transition: transform 0.3s; /* للتأثير السلس عند بدء/إيقاف الحركة */
}
  
  .header-image:hover {
      animation: shake 1s infinite; /* 1s = مدة الدورة الواحدة */
  }
  
/* chefs section */


#chefs{
    background-color: var(--bg--color5);
    color: var(--text-color-primary);
}

#chefs .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#chefs .container ,.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chefs .container h2{
    font-family: var(--font-secondary);
    color: var(--text-color-tertiary);
    font-size: 14px;
    font-weight: 400;
}
.main-title p{
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    font-size: 3.125rem;
    font-weight: 400;
    display: flex;
    gap: 10px;
    line-height: 24px;
}
.main-title p span{
    color: var(--text-color-secondary);
}


.chefs-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}
.chefs-cards .card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 20px);
    border-radius: 0.5rem;
    transition: scale var(--animation-duration);
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: var(--bg-color-tertiary);
}
.chefs-cards h3{
    font-family: var(--font-secondary);
    color: var(--text-color-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.625rem 0;
    font-size:18.72px;
}
.chefs-cards span{
    font-family: var(--font-secondary);
    color: var(--text-color-tertiary);
    font-weight: 400;
    margin-bottom: 0.625rem;
    font-size: 14px;
}
.chefs-cards .card p{
    font-family: var(--font-secondary);
    color: var(--text-color-pararaph);
    font-weight: 400;
    margin-bottom: 0.625rem;
    font-size: 14px;
}
.chefs-cards .card img{
    width: 100%;
}
.chefs-cards .card picture {
    width: 100%;
    position: relative;
}
.chefs-cards .card picture:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../Assets/images/team-shape.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
    z-index: 1000;
}
.chefs-cards .social-box {
    list-style: none;
    background-color: #ffffff4d;
    width: fit-content;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    position: absolute;
    top: 1.875rem;
    right: -3.125rem;
    transition: right calc(var(--animation-duration) / 2);
}
.chefs-cards .card:hover{
    scale: 1.05;
    transition: scale var(--animation-duration);
}
.chefs-cards .card:hover .social-box {
    right: 0.625rem;
    transition: right var(--animation-duration) var(--animation-duration);
}
.chefs-cards .social-box i {
    font-size: 1.125rem;
    padding: 0.625rem 0.3125rem;
    color: var(--icon-color);
    transition: color var(--animation-duration);
}
.chefs-cards .social-box i:hover {
    color: RGBA(55, 55, 63, 0.9);
    transition: color var(--animation-duration);
    font-size: 18px;
    line-height: 18px;
}
.chefs-cards .card .social-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card .card-content{
    
    padding: 0 20px;
}

/* gallery section */


#gallery .gallery-photos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 1000px;
}

.gallery-photos  picture{
    position: relative;
    width: calc(100% / 3 - 20px);
    border: 3px solid white;
    margin-top: 10px;
    overflow: hidden;
}

.gallery-photos .layer{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;    
    background-color: rgba(0, 0, 0, 0.5);
    gap: 10px;
    transition: all var(--animation-duration);
}
.layer p{
padding:0 10px 0 20px;
color: RGB(221, 221, 221);
font-size: 16px;
}
.layer h2{
    color: white;
    font-size: 24px;
}
.gallery-photos picture:hover .layer{
    top: 0%;
}

/* contact section */

#contact{
    background-color: var(--bg-color-tertiary);
    color: var(--text-color-primary);
}
#contact .container{
    display: flex;
    flex-direction: column;
    
}
#contact iframe{
    height: 310px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact .details{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
    
}
.contact .details div{
    width: calc(50% - 60px);
    background-color: var(--bg--color-contact-item);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    
}
.contact .details > div{
    padding: 1.5625rem;

}
.contact .details div div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    align-content: center;

}

.contact .details div div:nth-child(1){
    width: 40px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-quaternary);
    color: var(--bg-color-primary);
    font-size: 18px;
    font-weight: 400;
}
.contact .details div div:nth-child(2) h3{
    font-family: var(--font-secondary);
    color: RGB(125, 125, 125);
    font-size: 20px;
    font-weight: 700;
    margin: 0.625rem 0;
}

.contact .details div div:nth-child(2) p{
    font-family: var(--font-secondary);
    color: var(--text-color-primary);
    font-weight: 400;
    margin:0;
    padding: 0 0 0 0;
    font-size: 14px;
}

.contact .details div div:nth-child(2) a{
    font-family: var(--font-secondary);
    color: var(--text-color-primary);
    font-weight: 400;
    margin:0;
    padding: 0 0 0 0;  
    font-size: 14px;
    text-decoration: none;
}

