/* القيم الافتراضية (Light Mode) */
:root {
    --bg-color-primary: white;
    --bg-color-secondary: #EEEEEE;
    --bg-color-tertiary: white;
    --text-color-primary: black;
    --text-color-secondary: RGB(206, 18, 18);
    --text-color-tertiary: #9f9f9f;
    --text-color-quaternary: #37373F;
    --font-default: "Roboto", "Open Sans", system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --padding: 1.2rem 2.525rem;
    --margin-top: 0;
    --margin-bottom: 0;
}

/* الأنماط الخاصة بالوضع المظلم (Dark Mode) */
[data-theme="dark"] {
    --bg-color-primary: black;
    --bg-color-secondary: #252525;
    --bg-color-tertiary: #171717;
    --text-color-quaternary: white;
    --text-color-primary: white;
    --text-color-secondary: RGB(193, 126, 31);
    --text-color-tertiary: #9f9f9f;
}

/* تطبيق المتغيرات على الصفحة */
body {
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-default);

}
img{
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-quaternary);
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 700;
}

h2 {
    font-size: 65px;
}

.navbar {
    background-color: var(--bg-color-tertiary);
    color: var(--text-color-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.container {
    margin-inline: auto;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    width: 100%;
    padding: var(--padding);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1140px;
}

.navbar .container .nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}

.nav-links li {
    list-style: none;
    padding: 0px 15px;

}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-tertiary);
    font-size: 17px;
    font-weight: 600;
    transition: color 0.3s;
    /* تأثير انتقال */
    font-family: var(--font-default);
}

.navbar .logo {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 30px;
    font-family: var(--font-default);
}

.navbar .logo::after {
    content: '.';
    display: inline;
    color: var(--text-color-secondary);
    transition: width 0.3s;
    /* تأثير انتقال */
}

.mode-group i {
    cursor: pointer;
    font-size: 25px;
}

.fa-solid {
    font-weight: 900;
}
/* home section */
#home {
    padding: 50px 0;
}
#home .container{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    
}
.btn-group a{
    text-decoration: none;
}
.btn-group .icon i{
    font-size: 16px;
    font-weight: 900;
    color: var(--text-color-primary);

    background-color: transparent;
    transition: color 0.3s;
    /* تأثير انتقال */

}
.btn-group .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--bg-color-secondary) var(--bg-color-secondary) var(--text-color-secondary) var(--text-color-secondary);
    border-width: 7px;
    border-style: solid;
    background-color: var(--bg-color-primary);
    cursor: pointer;
}
.btn-group a{
    display: flex;
    justify-content: center;
    align-items: center;
}