/* القيم الافتراضية (Light Mode) */
:root {
    --bg-color-primary: white;
    --bg-color-secondary: #EEEEEE;
    --bg-color-tertiary: white;
    --text-color-primary: black;
    --text-color-secondary: RGB(206, 18, 18);
    --text-color-tertiary: #9f9f9f;
    --text-color-quaternary: #37373F;
    --text-color-pararaph: RGB(79, 79, 90);
    --font-default: "Roboto", "Open Sans", system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --padding: 1.2rem 2.525rem;
    --margin-top: 0;
    --margin-bottom: 0;
    --display-light: none;
    --display-Dark: flex;
    --animation-duration: 400ms;
    --inline-gap: 0.9375rem;
    --padding-pararaph: 24px 0 24px 0;
}

/* الأنماط الخاصة بالوضع المظلم (Dark Mode) */
[data-theme="dark"] {
    --bg-color-primary: black;
    --bg-color-secondary: #252525;
    --bg-color-tertiary: #171717;
    --text-color-quaternary: white;
    --text-color-primary: white;
    --text-color-secondary: RGB(193, 126, 31);
    --text-color-tertiary: #9f9f9f;
    --text-color-pararaph:RGB(159, 159, 159);
    --display-light: flex;
    --display-Dark: none;
}

/* تطبيق المتغيرات على الصفحة */
body {
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
}
img{
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-quaternary);
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 700;
}
p{
    color: var(--text-color-pararaph);
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: var(--padding-pararaph);
    font-size: 16px;
}
h2 {
    font-size: 65px;
}
.mode-group .light{
    display: var(--display-light) !important;
    transition:0.3s;
}
.mode-group .dark{
    display: var(--display-Dark) !important;
    transition:0.3s;

}
.navbar {
    background-color: var(--bg-color-tertiary);
    color: var(--text-color-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.container {
    margin-inline: auto;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    width: 100%;
    padding: var(--padding);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1140px;
}

.navbar .container .nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}

.nav-links li {
    list-style: none;
    padding: 0px 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-tertiary);
    font-size: 17px;
    font-weight: 600;
    /* transition: color 0.3s; */
    /* تأثير انتقال */
    font-family: var(--font-default);
}
.nav-links li a::before{
    content: "";
    display: flex;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--text-color-secondary);
    color: var(--text-color-secondary);
    transition: width var(--animation-duration);
}

body:has(#home:target) li a[href="#home"]::before,
body:has(#chefs:target) li a[href="#chefs"]::before,
body:has(#gallery:target) li a[href="#gallery"]::before,
body:has(#contact:target) li a[href="#contact"]::before{
    width: calc(100% - (var(--inline-gap) * 2));
}
.nav-links li a:hover::before {
    width: calc(100% - (var(--inline-gap) * 2));
    transition: width var(--animation-duration);
}

.navbar .logo {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 30px;
    font-family: var(--font-default);
}

.navbar .logo::after {
    content: '.';
    display: inline;
    color: var(--text-color-secondary);
    transition: width 0.3s;
    /* تأثير انتقال */
}

.mode-group i {
    cursor: pointer;
    font-size: 25px;
}

.fa-solid {
    font-weight: 900;
}
/* home section */
#home {
    padding: 50px 0;
}
#home .container{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    
}
.btn-group a{
    text-decoration: none;
}
.btn-group .icon i{
    font-size: 16px;
    font-weight: 900;
    color: var(--text-color-primary);

    background-color: transparent;
    transition: color 0.3s;
    /* تأثير انتقال */
    transform: rotate(-45deg);
}
.btn-group .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--bg-color-secondary) var(--bg-color-secondary) var(--text-color-secondary) var(--text-color-secondary);
    border-width: 7px;
    border-style: solid;
    background-color: var(--bg-color-primary);
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: 7px;
}
.btn-group a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group .video-btn{
    color: var(--text-color-primary);
}
.btn-group .btn-main{
    color: var(--bg-color-primary);
    background-color: var(--text-color-secondary);
    padding: 10px 25px;
    border-radius: 0px 100vh 100vh 100vh; 
    font-weight: 300;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
    /* تأثير انتقال */
}
.header-content{
    width: 40%;
}
.header-image{
    width: 40%;
}
.header-image {
    transition: transform 0.3s; /* للتأثير السلس عند بدء/إيقاف الحركة */
  }
  
  .header-image:hover {
    animation: rotateTranslate 0.5s infinite; /* 1s = مدة الدورة الواحدة */
  }
  
  @keyframes rotateTranslate {
    0% {
      transform: rotateZ(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) translate(10px, 10px);
    }
    75% {
      transform: rotateZ(5deg) translate(-10px, -10px);
    }
    100% {
      transform: rotateZ(0deg) translate(0, 0);
    }
  }